@{
    ViewData["Title"] = "About Us";
}
<h2 class="h2 text-center">About us</h2>
<hr class="hr hr-blurry" />
<div class="container">
    <div class="row">
        <div class="col-md-6 col-lg-3 mb-4">
            <div class="card">
                <img src="~/images/logo.png" class="card-img-top" height="250" />
                <div class="card-body">
                    <h5 class="card-title">About UoBabylon</h5>
                    <p class="card-text">We take pride in nurturing students' academic abilities. Our admissions process ensures the establishment of an outstanding student body.<br /><br /></p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3 mb-4">
            <div class="card">
                <img src="~/images/leadership.png" class="card-img-top" height="250" alt="Leadership">
                <div class="card-body">
                    <h5 class="card-title">Leadership</h5>
                    <p class="card-text">Many dedicated professionals and academics comprise our leadership, offering guidance and support to ensure the high quality of our programs.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3 mb-4">
            <div class="card">
                <img src="~/images/partnership.png" height="250" class="card-img-top" alt="Partners">
                <div class="card-body">
                    <h5 class="card-title">Partners</h5>
                    <p class="card-text">We partner with international leading organizations, corporations, and foundations to help enrich our degree programs and broaden student opportunities.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3 mb-4">
            <div class="card">
                <img src="~/images/media.png" height="250" class="card-img-top" alt="Media">
                <div class="card-body">
                    <h5 class="card-title">Media</h5>
                    <p class="card-text">he University of Babylon maintains active profiles on various social media platforms such as Facebook, Twitter, Instagram.<br /><br /></p>
                </div>
            </div>
        </div>
    </div>
</div>