@model SchoolManagementApp.MVC.Models.ViewModels.LoginViewModel

<h2 class="text-center mt-5">Sign In</h2>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-body">
                    <form asp-area="Identity" asp-controller="Accounts" asp-action="Login" method="post" class="needs-validation" novalidate>
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="form-floating mb-3">
                            <input type="email" asp-for="Email" class="form-control" id="inputEmail" aria-describedby="emailHelp" required>
                            <label for="inputEmail">Email address</label>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" asp-for="Password" class="form-control" id="inputPassword" required>
                            <label for="inputPassword">Password</label>
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-check mb-3">
                            <input asp-for="RememberMe" class="form-check-input" id="rememberMe">
                            <label class="form-check-label" for="rememberMe">Remember me</label>
                        </div>
                        <button type="submit" class="btn btn-success w-100">Log in</button>
                    </form>
                    <div class="text-center mt-3">
                        <p>Don't have an account? <a asp-action="Register">Sign Up</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
